.header{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header p{
  font-size: 50px;
  color: pink;
}
img{
  border: 6px solid rgb(220, 198, 246);
  border-radius: 10px;
  margin-top: 200px;
}
.imagecontainer{
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}